@tailwind base;
@tailwind components;
@tailwind utilities;
.header{
          box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
nav a{
          background-color: #2DD1E7 ;
          padding: 10px 15px;
          border-radius: 5px;
          margin: 0 15px;
          color: navy;
          font-size: 18px;
          font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav a:hover{
          background-color: #5271FF;
          padding: 10px 15px;
          border-radius: 5px;
          margin: 0 15px;
          color:white;
}
.download{
       border: 1px solid #2FA84F ;  
       background-color: orange;
}

.homebtn a  {
          margin-right: 15px;
          border: 1px solid #2FA84F ;  
       background-color: orange;
       padding: 10px 15px;
       border-radius: 5px;
       box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
       font-weight: bold;
}
.homebtn a:hover{
          background-color: #5271FF;
          padding: 10px 15px;
          border-radius: 5px;
          color:white;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
          
}

